@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bebas+eue&family=Passion+One&family=Roboto+Mono:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Parisienne', cursive;
}

*{
    margin:0px;
    padding:0px;

}

html, body{
    min-height:100vh;
    background-color:rgba(0, 139, 139, 0.527);
    font-family: var(--fonte1);
}

header{
    background-color: rgba(8, 92, 74, 0.534);
    color:white;
    text-align:center;
}

header>h1{
    padding-top:50px;
    font-variant:small-caps;
    font-family: var(--fonte2);
    font-size: 3em;
}

header>p{
    padding-bottom:50px;
}

a{
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover{
    text-decoration: underline;
}

section{
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height:2em;
    padding-left:30px;
    
}

section>p{
    padding-bottom:2em;
}
section.normal{
    background-color: white;
    color:black;
    font-family: var(--fonte1);
    font-size: 2em;;
}

section.imagem{
    background-color:darkslategrey;
    color:white;
    box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.548);
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--fonte3);
    font-size: 2em;
}

section.imagem > p {
   display:inline-block;
   padding:5px;
    background-color: rgba(16, 165, 115, 0.445);
    text-shadow: 2px 2px 0px black;
}
section#img01{ 
    background-image:url('../012cordel/imagens/background001.jpg');
background-position:right center;
background-size:cover;
}

section#img02{
    background-image: url('../012cordel/imagens/background002.jpg');
background-size:cover;
}

footer{
    background-color: black;
    color:white;
    text-align: center;
    padding:10px;
}